
* {
    margin: 0;
    padding: 0;
}

/*
 * CELL PANEL
 */

.femhub-cells {
    background-color: white;
    position: relative;
    overflow-x: none;
    overflow-y: auto;
    display: block;
}

.femhub-cells-demo {
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 1px solid gray;
}

/*
 * BASE CELL
 */

.femhub-cell {
    position: relative;
    display: block;
    height: 30px;
    margin: 10px;
    border: none;
}

.femhub-cell-bracket {
    border: 1px solid blue;
    border-left: none;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    cursor: pointer;
}

.femhub-cell-triangle {
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-left-color: white;
    border-top-color: white;
    border-right-color: blue;
    border-bottom-color: blue;
    position: absolute;
    bottom: -1px;
    right: 0;
    display: none;
    z-index: 1;
}

.femhub-cell-bracket:hover .femhub-cell-triangle {
    display: block;
}

/*
 * INPUT/OUTPUT CELL
 */

.femhub-cell-io {
    height: auto;
}

.femhub-cell-io-label {
    width: auto;
    height: auto;
    position: absolute;
    white-space: pre;
    font-family: monospace;
    visibility: hidden;
}

.femhub-cell-input .femhub-cell-io-label {
    color: blue;
}

.femhub-cell-output .femhub-cell-io-label {
    color: red;
}

.femhub-cell-io-content {
    margin-right: 22px; /* accomodate for W3C box model */
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.femhub-cell-io-textarea {
    padding: 5px;
    width: 100%;
    white-space: pre;
    /*
    overflow-x: auto;
    overflow-y: hidden;
    */
    overflow: hidden;
    font-size: 10pt;
    border-width: 1px;
}

/*
 * OUTPUT CELL
 */

.femhub-cell-output-textarea {
    /*
    border-style: dotted;
    border-color: #999adf;
    */
    background-color: #ffffcc;
    border-style: solid;
    border-color: #bfbfbf;
    -moz-box-shadow: 0 0 6px #bfbfbf;
    -webkit-box-shadow: 0 0 6px #bfbfbf;
}

.femhub-cell-output-textarea.femhub-focus {
    border-style: solid;
    border-color: #999adf;
}

/*
 * INPUT CELL
 */

.femhub-cell-input-textarea {
    border-style: solid;
    border-color: #bfbfbf;
    -moz-box-shadow: 0 0 6px #bfbfbf;
    -webkit-box-shadow: 0 0 6px #bfbfbf;
}

.femhub-cell-input-textarea.femhub-focus {
    border-color: #999adf;
}

.femhub-cell-input-controls {
    margin: 2px 0 0 2px;
    width: 100%;
    font-size: 7pt;
    font-family: monospace;
    display: none;
}

.femhub-cell-input-controls.femhub-enabled {
    display: block;
}

.femhub-cell-input-controls.femhub-chrome {
    margin-top: 0;
}

.femhub-cell-input-control {
    padding-right: 5px;
    display: inline;
    cursor: pointer;
    color: #dddddd;
}

.femhub-cell-input-control.femhub-enabled {
    color: #bfbfbf;
}

.femhub-cell-input-control.femhub-enabled:hover {
    color: blue;
}

/*
 * COLLAPSED CELLS
 */

.femhub-cell-expander {
    width: 100%;
    height: 4px;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    border: none;
    color: white;
    overflow: hidden;
}

.femhub-cell-collapsed {
    height: 5px !important;
    border-bottom: 1px dashed #bfbfbf;
}

.femhub-cell-collapsed.femhub-focus {
    border-bottom-style: solid;
}

.femhub-cell-collapsed.femhub-enabled:hover {
    border-bottom-color: blue;
}

.femhub-cell-collapsed .femhub-cell-triangle {
    display: block;
    border-right-color: #bfbfbf;
    border-bottom-color: #bfbfbf;
}

.femhub-cell-collapsed.femhub-enabled:hover .femhub-cell-triangle {
    border-right-color: blue;
    border-bottom-color: blue;
}

