
.femhub-bookshelf-icon {
    background-image: url(/static/img/femhub/icons/folder.png);
}

.femhub-bookshelf-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/folder.png);
}

.femhub-settings-icon {
    background-image: url(/static/img/femhub/icons/16x16/settings.png);
}

.femhub-settings-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/settings.png);
}

.femhub-console-icon {
    background-image: url(/static/img/femhub/icons/16x16/console.png);
}

.femhub-console-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/console.png);
}

.femhub-logout-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/logout.png);
}

