
{% for group in groups %}
    {% if group['bindings'] %}
        <h2>{{ group['description'] }}</h2>
        <dl>
        {% for binding in group['bindings'] %}
            {% for spec in binding['specs'] %}
            <dt>
                {% if spec['shift'] %}
                    <b>Shift</b>
                    +
                {% end %}
                {% if spec['ctrl'] %}
                    <b>Ctrl</b>
                    +
                {% end %}
                {% if spec['alt'] %}
                    <b>Alt</b>
                    +
                {% end %}
                <b>{{ spec['prettyKey'] }}</b>
            </dt>
            {% end %}
            <dd>{{ binding['text'] }}</dd>
        {% end %}
        </dl>
    {% end %}
{% end %}

