
{% for spec in specs %}
    {% if spec['bindings'] %}
        <h2>{{ spec['description'] }}</h2>
        <dl>
        {% for binding in spec['bindings'] %}
            <dt>
                {% if binding['shift'] %}
                    <b>Shift</b>
                    +
                {% end %}
                {% if binding['ctrl'] %}
                    <b>Ctrl</b>
                    +
                {% end %}
                {% if binding['alt'] %}
                    <b>Alt</b>
                    +
                {% end %}
                <b>{{ binding['prettyKey'] }}</b>
            </dt>
            <dd>{{ binding['text'] }}</dd>
        {% end %}
        </dl>
    {% end %}
{% end %}

