<h2>1. Desktop</h2>
<p>
<i>Desktop</i> currently consists of five launchers:
</p>
<dl>
    <dt><b>Bookshelf</b></dt>
    <dd>Manage folders and notebooks.</dd>
    <dt><b>Settings</b></dt>
    <dd>Configure your work environment.</dd>
    <dt><b>Console</b></dt>
    <dd>Display system messages.</dd>
    <dt><b>Help</b></dt>
    <dd>Show this manual.</dd>
    <dt><b>Logout</b></dt>
    <dd>Save settings and quit Online Lab.</dd>
</dl>
<h2>2. Bookshelf</h2>
<p>
<i>Bookshelf</i> allows you to manage notebooks in various ways. You
an create new notebooks and store them in folders. You can also edit,
rename or delete existing notebooks.
</p>
<p>
You can move notebooks between folders and folder between folders,
by dragging appropriate items. You will be visually informed if a
particular drag is not permitted.
</p>
<h2>3. Notebook</h2>
<p>
<i>Notebook</i> allows for interaction with a Python interpreter that
is running on a remote server. Every open notebook has an interpreter
assigned, in which you can evaluate Python code and import many well
know libraries, e.g. SciPy, NumPy, Matplotlib, SymPy.
</p>
<p>
Every notebook consists of a sequence of cells. There are three kinds
of cells:
</p>
<dl>
    <dt><b>text cells</b></dt>
    <dd>Additional non-evaluable content.</dd>
    <dt><b>input cells</b></dt>
    <dd>Allows for entering Python source code.</dd>
    <dt><b>output cells</b></dt>
    <dd>Used for displaying results of computations.</dd>
</dl>
<p>
To manage cells efficiently, the following shortcuts can be used:
</p>
<dl>
    <dt><b>Shift</b>+<b>Enter</b></dt>
    <dd>Evaluate current input cell and move to the following one.</dd>
    <dt><b>Ctrl</b>+<b>Enter</b></dt>
    <dd>Evaluate current input cell and stay there.</dd>
    <dt><b>Up</b></dt>
    <dd>Move focus to the input cell above.</dd>
    <dt><b>Down</b></dt>
    <dd>Move focus to the input cell below.</dd>
    <dt><b>Ctrl</b>+<b>Up</b></dt>
    <dd>Move focus fast to the input cell above.</dd>
    <dt><b>Ctrl</b>+<b>Down</b></dt>
    <dd>Move focus fast to the input cell below.</dd>
    <dt><b>Alt</b>+<b>Up</b></dt>
    <dd>Create a new input cell above the current one.</dd>
    <dt><b>Alt</b>+<b>Down</b></dt>
    <dd>Create a new input cell below the current one.</dd>
    <dt><b>Shift</b>+<b>Alt</b>+<b>Up</b></dt>
    <dd>Create a new text cell above the current one.</dd>
    <dt><b>Shift</b>+<b>Alt</b>+<b>Down</b></dt>
    <dd>Create a new text cell below the current one.</dd>
    <dt><b>Alt</b>+<b>Left</b></dt>
    <dd>Collapse the current cell.</dd>
    <dt><b>Alt</b>+<b>Right</b></dt>
    <dd>Expand the current cell.</dd>
    <dt><b>Shift</b>+<b>Ctrl</b>+<b>Alt</b>+<b>Up</b></dt>
    <dd>Merge current input cell with the input cell above.</dd>
    <dt><b>Shift</b>+<b>Ctrl</b>+<b>Alt</b>+<b>Down</b></dt>
    <dd>Merge current input cell with the input cell below.</dd>
</dl>
<p>
The same can be done in most cases, by clicking on a cell with
right mouse button and choosing an appropriate item from the
context menu.
</p>
<p>
To edit a text cell, use context menu and choose <i>Edit</i>. An
editor will be opened where you will be able to enter contents in
either WYSIWYG or HTML modes.
</p>
<h2>4. Logout</h2>
<p>
When done with your work in Online Lab, click <i>Logout</i> icon on
the desktop. This will save settings and terminate current session.
</p>

