<div class="femhub-login-head">The FEMhub Online Laboratory</div>
<div class="femhub-login-text">
    The goal of the FEMhub Online Lab is to make scientific computing
    accessible to anyone. No need to own a strong computer or buy
    expensive software. Everything takes place inside the web browser
    window, that turns into a virtual computer desktop. The Online Lab
    is accessible from PCs, laptops, netbooks, iPads, PDAs, and even
    web-enabled smart phones. The Online Lab is developed by 
    the <a href="http://hpfem.org">hp-FEM group</a> at the
    <a href="http://www.unr.edu/"> University of Nevada, Reno</a>.
</div>
<br>
<div class="femhub-login-head">Important Message</div>
<div class="femhub-login-text">
    The Online Lab is now operating in a beta-version mode
    that may be changed in the future.
    Please report bugs to femhub@googlegroups.com.
</div>
<br>
<div class="femhub-login-head">JavaScript Programmers Wanted</div>
<div class="femhub-login-text">
    Interested in Javascript programming? We may have a job for you.
    <a href="http://hpfem.org/main/open-positions.php">Click here</a>
    for more details.
</div>
