<html>
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%">
        <param name="movie" value="/static/external/MeshEditor.swf">
        <param name="flashvars" value="output_cell=0&nodes=&elements=&boundaries=&curves=&var_name=m" /> <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/static/external/MeshEditor.swf" width="100%" height="100%"> <!--<![endif]-->
            <param name="flashvars" value="output_cell=0&nodes=&elements=& boundaries=&curves=&var_name=m" />
            <p>Alternative Content</p> <!--[if !IE]>-->
        </object> <!--<![endif]-->
    </object>
</html>
