
.femhub-folder.x-tree-node-leaf .x-tree-node-icon {
    background-image: url(/static/external/ext/images/default/tree/folder.gif) !important;
}

.femhub-folder.x-tree-node-collapsed .x-tree-node-icon {
    background-image: url(/static/external/ext/images/default/tree/folder.gif) !important;
}

.femhub-worksheet.x-tree-node-leaf .x-tree-node-icon {
    background-image: url(/static/img/femhub/icons/page.png) !important;
}

.femhub-worksheet.femhub-chosen.x-tree-node-leaf .x-tree-node-icon {
    background-image: url(/static/img/femhub/icons/page_green.png) !important;
}

input.x-tree-node-cb {
    vertical-align: middle;
}

