
.femhub-browser-icon {
    background-image: url(/static/img/femhub/icons/folder.png) !important;
}

.femhub-browser-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/folder.png) !important;
}

.femhub-settings-icon {
    background-image: url(/static/img/femhub/icons/16x16/settings.png) !important;
}

.femhub-settings-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/settings.png) !important;
}

.femhub-console-icon {
    background-image: url(/static/img/femhub/icons/16x16/console.png) !important;
}

.femhub-console-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/console.png) !important;
}

.femhub-mesheditor-icon {
    background-image: url(/static/img/femhub/icons/16x16/mesheditor2.png) !important;
}

.femhub-mesheditor-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/mesheditor2.png) !important;
}

.femhub-help-icon {
    background-image: url(/static/img/femhub/icons/16x16/help.png) !important;
}

.femhub-help-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/help.png) !important;
}

.femhub-logout-launcher-icon {
    background-image: url(/static/img/femhub/icons/64x64/logout.png) !important;
}

.femhub-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page.png) !important;
}

.femhub-published-icon {
    background-image: url(/static/img/femhub/icons/page_green.png) !important;
}

.femhub-celleditor-icon {
    background-image: url(/static/img/femhub/icons/page_white_edit.png) !important;
}

.femhub-edit-icon {
    background-image: url(/static/img/femhub/icons/pencil.png) !important;
}

.femhub-remove-icon {
    background-image: url(/static/img/femhub/icons/cross.png) !important;
}

.femhub-collapse-icon {
    background-image: url(/static/img/femhub/icons/arrow_in.png) !important;
}

.femhub-expand-icon {
    background-image: url(/static/img/femhub/icons/arrow_out.png) !important;
}

.femhub-plugin-icon {
    background-image: url(/static/img/femhub/icons/plugin.png) !important;
}

.femhub-plugin-edit-icon {
    background-image: url(/static/img/femhub/icons/plugin_edit.png) !important;
}

.femhub-fork-icon {
    background-image: url(/static/img/femhub/icons/arrow_divide.png) !important;
}

.femhub-refresh-icon {
    background-image: url(/static/img/femhub/icons/arrow_refresh.png) !important;
}

.femhub-rename-icon {
    background-image: url(/static/img/femhub/icons/textfield_rename.png) !important;
}

.femhub-refresh-icon {
    background-image: url(/static/img/femhub/icons/arrow_refresh.png) !important;
}

.femhub-add-folder-icon {
    background-image: url(/static/img/femhub/icons/folder_add.png) !important;
}

.femhub-add-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_add.png) !important;
}

.femhub-share-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_go.png) !important;
}

.femhub-import-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_attach.png) !important;
}

.femhub-open-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_gear.png) !important;
}

.femhub-edit-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_edit.png) !important;
}

.femhub-save-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_save.png) !important;
}

.femhub-sync-worksheet-icon {
    background-image: url(/static/img/femhub/icons/page_refresh.png) !important;
}

.femhub-eval-all-worksheet-icon {
    background-image: url(/static/img/femhub/icons/lightning.png) !important;
}

.femhub-increase-font-size-icon {
    background-image: url(/static/img/femhub/icons/16x16/font-increase.png) !important;
}

.femhub-decrease-font-size-icon {
    background-image: url(/static/img/femhub/icons/16x16/font-decrease.png) !important;
}

.femhub-record-published-icon {
    background-image: url(/static/img/femhub/icons/emoticon_smile_green.png) !important;
}

.femhub-record-unpublished-icon {
    background-image: url(/static/img/femhub/icons/emoticon_unhappy.png) !important;
}

.femhub-ok-icon {
    background-image: url(/static/img/femhub/icons/ok.png) !important;
}

.femhub-success-icon {
    background-image: url(/static/img/femhub/icons/accept.png) !important;
}

.femhub-failure-icon {
    background-image: url(/static/img/femhub/icons/exclamation.png) !important;
}

